@import "estilos.css";

input{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 50px;
    background-color:black;
    text-align: left;
    border-radius: 10px;
    border: 3px solid white;
    color:white;
    font-size:20px;
}

button{
    margin-top: 30px;
    margin-bottom: 30px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }